.admin_container
    margin: 0 auto
    width: 1200px
    .login
        margin: 0 auto
        width: 500px
        input
            padding: 0.17rem .75rem
    .product_detail
        clear: both
        .leftside
            img
                width: 100%
        .rightside
            .price
                .numprice
                    font-size: 20px                 
                .currancy
                    margin-left: 5px
                    font-size: 15px   
        .button_edit
            float: left
            margin-right: 10px
        .button_back
            margin-top: 10px
        .desc_product_deal
            margin-top: 10px
            color: #212121
            font-size: 16px
            font-weight: 300
            line-height: 24.01px
            letter-spacing: 0.4px







    .admin_menu
        float: right
        .nav-item
            float: left
        a 
            text-transform: uppercase
            color: black
            &:hover
                color: #6c6c6c
                
    .admin_menu
        a
            text-decoration: 
    .user_role
        text-transform: uppercase
        a 
            font-size: 10px
    .not_active
        opacity: 0.5
    .user_record
        margin: 5px 5px 5px 5px
        border: 1px solid #000
        border-radius: 10px
        img 
            margin-top: 10px
            margin-left: 10px
            width: 100px
            height: 100px
    .new_user
        text-transform: uppercase
.user_delete
    border: 1px solid #000
    border-radius: 10px
    margin: 0 auto
    width: 500px
    padding-left: 20px
    form
        margin: 5px 5px 5px 5px
    a
        margin: 5px 5px 5px 5px

