node_modules/
dist/
django2.2/
.idea/dictionaries
.idea/inspectionProfiles
.idea
.vscode
/venv
mixer/adminapp/__pycache__/__init__.cpython-36.pyc
mixer/adminapp/__pycache__/admin.cpython-36.pyc
mixer/adminapp/__pycache__/forms.cpython-36.pyc
mixer/adminapp/__pycache__/models.cpython-36.pyc
mixer/adminapp/__pycache__/urls.cpython-36.pyc
mixer/adminapp/__pycache__/views.cpython-36.pyc
mixer/authapp/__pycache__/__init__.cpython-36.pyc
mixer/authapp/__pycache__/admin.cpython-36.pyc
mixer/authapp/__pycache__/forms.cpython-36.pyc
mixer/authapp/__pycache__/models.cpython-36.pyc
mixer/authapp/__pycache__/urls.cpython-36.pyc
mixer/authapp/__pycache__/views.cpython-36.pyc
mixer/basketapp/__pycache__/__init__.cpython-36.pyc
mixer/basketapp/__pycache__/admin.cpython-36.pyc
mixer/basketapp/__pycache__/models.cpython-36.pyc
mixer/basketapp/__pycache__/urls.cpython-36.pyc
mixer/basketapp/__pycache__/views.cpython-36.pyc
mixer/mainapp/__pycache__/__init__.cpython-36.pyc
mixer/mainapp/__pycache__/admin.cpython-36.pyc
mixer/mainapp/__pycache__/models.cpython-36.pyc
mixer/mainapp/__pycache__/urls.cpython-36.pyc
mixer/mainapp/__pycache__/views.cpython-36.pyc
