node_modules/
dist/
mixer/media
django2.2/
.idea/dictionaries
.idea/inspectionProfiles
.idea
.vscode
env_mixer/
mixer/adminapp/__pycache__/__init__.cpython-36.pyc
mixer/adminapp/__pycache__/admin.cpython-36.pyc
mixer/adminapp/__pycache__/forms.cpython-36.pyc
mixer/adminapp/__pycache__/models.cpython-36.pyc
mixer/adminapp/__pycache__/urls.cpython-36.pyc
mixer/adminapp/__pycache__/views.cpython-36.pyc
mixer/authapp/__pycache__/__init__.cpython-36.pyc
mixer/authapp/__pycache__/admin.cpython-36.pyc
mixer/authapp/__pycache__/forms.cpython-36.pyc
mixer/authapp/__pycache__/models.cpython-36.pyc
mixer/authapp/__pycache__/urls.cpython-36.pyc
mixer/authapp/__pycache__/views.cpython-36.pyc
mixer/basketapp/__pycache__/__init__.cpython-36.pyc
mixer/basketapp/__pycache__/admin.cpython-36.pyc
mixer/basketapp/__pycache__/models.cpython-36.pyc
mixer/basketapp/__pycache__/urls.cpython-36.pyc
mixer/basketapp/__pycache__/views.cpython-36.pyc
mixer/mainapp/__pycache__/__init__.cpython-36.pyc
mixer/mainapp/__pycache__/admin.cpython-36.pyc
mixer/mainapp/__pycache__/models.cpython-36.pyc
mixer/mainapp/__pycache__/urls.cpython-36.pyc
mixer/mainapp/__pycache__/views.cpython-36.pyc

.DS_Store
node_modules
/dist


# local env files
mixer/mixer/.env
.env.*.local
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/mixer/mixer/.env
