<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            {{ page_title|title }}
        {% endblock %}
    </title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
    {% endblock %}
    {% block js %}
        <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/mainapp_scripts.js' %}"></script>
    {% endblock %}
</head>
<body>
<div class=".container">
    {% block header %}
        {% include 'mainapp/includes/inc__main_header.html' %}
    {% endblock %}
    {% block container %}
    {% endblock %}
    <div class="clr clearfix"></div>
</div>
{% block footer %}
    <div class="slider-footer">
        <div class="row footer justify-content-center">
            <div class="col-lg-4">
                <p class="copy">&copy;Магазин кондитерских ингредиентов MIXER {% now 'Y' %}.</p>
            </div>
            <div class="social_links col-lg-4">
                <a href="#" class="social_link"><i class="fa fa-facebook-official" aria-hidden="true"></i> </a><a
                    href="#"
                    class="social_link"><i
                    class="fa fa-instagram" aria-hidden="true"></i> </a><a href="#" class="social_link"><i
                    class="fa fa-pinterest-square" aria-hidden="true"></i></a>
            </div>
            <div class="col-lg-4">
                <p class="terms">Доставка по всей России</p>
            </div>
        </div>
    </div>
{% endblock %}

</body>
</html>